@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
.custom-slider-wrapper .slick-slide > div{
  padding: 10px;
 /** box-shadow: 3px 10px 0px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 3px 10px 0px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 10px 0px 0px rgba(0,0,0,0.75);**/
}