@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
.custom-slider-wrapper .slick-slide > div{
  margin-right: 10px;
  margin-left: 10px;
  overflow: hidden;
 /** box-shadow: 3px 10px 0px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 3px 10px 0px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 10px 0px 0px rgba(0,0,0,0.75);**/
}
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}